body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.homepage{
    width: 100%;
background-color: black;
background-image: url(../img/hero_02.jpg);
background-size: cover;
background-repeat: no-repeat;
    
}
.hometop{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%px;
    width: 100%;
    color: rgb(255, 255, 255);


}
.navbar{
    margin-left: 200px;
    font-size: x-large;
}

.menu{
    text-decoration: none;
    margin-right: 10%;
    font-size: large;
    color: white;
    width: 700px;
    display: flex;
    justify-content: space-between;
  }
.title{
    margin-top: 100px;
}
.title hr{
    width: 5%;
    margin-right: 85%;
    border-color: #e9204f;
}
.title h1{
    color: rgb(255, 255, 255);
    font-size: 100;
    width: 50%;
    margin-left: 10%;
}

.title a{
    position: relative;
    padding: 20px 40px;
    text-decoration: none;
    background-color: black;
    border: 2px solid #e9204f;
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-left: 10%;
    margin-top: -40px;
    z-index: 1;
}
.title a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: #e9204f;
    transition: 0.7s;
    height: 100%;
    z-index: -1;
}
.title a:hover::after{
    width: 100%;

}
.thirdtitle a{
    position: relative;
    text-decoration: none;
    background-color: black;
    border: 2px solid #e9204f;
   padding: 20 40;
    color: rgb(255, 255, 255);
    font-size: medium;
    float: right;
    margin-right: 100px;
    display: inline-block;
    z-index: 1;}
    .thirdtitle a::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background-color: #e9204f;
        transition: 0.7s;
        height: 100%;
        z-index: -1;
    }
    .thirdtitle a:hover::after{
        width: 100%;
    }
    .eighttitle a{
        position: relative;
    text-decoration: none;
    background-color: black;
    border: 2px solid #e9204f;
   padding: 20 40;
    color: rgb(255, 255, 255);
    font-size: medium;
    float: right;
    margin-right: 100px;
    display: inline-block;
    z-index: 1;}
        .eighttitle a::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            background-color: #e9204f;
            transition: 0.7s;
            height: 100%;
            z-index: -1;
        }
        .eighttitle a:hover::after{
            width: 100%;
        }
        

.threecontainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10% 10% ;
    justify-content: space-around;

}
.threecategories a:hover{
    background-color: #e9204f;
    font-size: x-large;
}
.container1{
background-color: #e9204f;
width: 27%;
text-align: left;
padding: 30px 20px 80px 20px;
color: rgb(255, 255, 255);
}
.container2{
background-color: #2a2a2a;
width: 27%;
text-align: left;
padding: 30px 20px 80px 20px;
color: rgb(255, 255, 255);

}
.container2:hover{
    background-color: #e9204f;
    transition: 1s;
    width: 27%;
text-align: left;
padding: 30px 20px 80px 20px;
color: rgb(255, 255, 255);
}
.container1 i{margin-bottom: 20%; font-size: 50px; }
.container2 i{ margin-bottom: 20%; font-size: 50px; color: #e9204f;}
.container3 i{ margin-bottom: 20%; font-size: 50px; color: #e9204f;}
.container2:hover i{
    color: #ffffff;
    transition: 1s;
}
.container3{
background-color: #2a2a2a;
width: 27%;
text-align: left;
padding: 30px 20px 80px 20px;
color: rgb(255, 255, 255);
}
.container3:hover{
    background-color: #e9204f;
    transition: 1s;
    width: 27%;
text-align: left;
padding: 30px 20px 80px 20px;
color: rgb(255, 255, 255);
}
.container3:hover i{
    color: #fffefe;
    transition: 1s;
}

.secondpage{
    margin-top: -153px;
    width: 100%;
    background-color: rgb(23, 23, 23);

}
.line{
    width: 3%;
    margin-right: 85%;
    border-color: #e9204f;
}
.secondpage h1{
    color: rgb(255, 255, 255);
    font-size: 50;
    width: 50%;
    margin-left: 12%;
}
.secondpage h3{
    color: #e9204f;
    font-size: 20;
    width: 50%;
    margin-left: 12%;
    margin-bottom: 5%;
}
.threecategories{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    
}

.threecategories a{
width: 100%;
    text-decoration: none;
    background-color: #2a2a2a;
    padding: 40px 130px;
    color: rgb(255, 255, 255);
    font-size: large;
    margin-top: 2%;
    border: none;
    margin: 0 20px;
    border: 3px solid 100px;
    text-align: left;
}
.categories2{
    margin: 100px 0;
    
}

.thirdpage{
    margin-top: -20px;
    width: 100%;
    background-color: rgb(23, 23, 23);

}
.line{
    width: 3%;
    margin-right: 85%;
    border-color: #e9204f;
}
.thirdpage h1{
    color: rgb(255, 255, 255);
    font-size: 50;
    width: 50%;
    margin-left: 12%;
}
.thirdpage h3{
    color: #e9204f;
    font-size: 20;
    width: 50%;
    margin-left: 12%;
    padding-bottom: 5%;}
    .thirdpage input{
        text-decoration: none;
        background-color: black;
        border-color: #e9204f;
       padding: 15 40;
        color: rgb(255, 255, 255);
        font-size: medium;
        float: right;
        margin-right: 40px;
    }
    .thirdcategories{
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .thirdimg{
        width: 480px;
        height: 480px;
        
    }
    .fourthpage{
        width: 100%;
        background-color: rgb(23, 23, 23);
    
    }
    .line{
        width: 3%;
        margin-right: 85%;
        border-color: #e9204f;
    }
    .fourthpage h1{
        color: rgb(255, 255, 255);
        font-size: 50;
        width: 50%;
        margin-left: 12%;
    }
    .fourthtitle h2{
        width: 35%;
        margin-right: 40px;
        color: rgb(255, 255, 255);
        float: right;
        font-size: small;
        padding-bottom: 5%;

    }

    .fourthpage h3{
        color: #e9204f;
        font-size: 15;
        width: 50%;
        margin-left: 12%;
        padding-bottom: 5%;}
        .fourthcategories{
            width: 100%;
            padding-bottom: 10%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .fourthimg{
            width: 610px;
            height: 539px;
        }
        .fourthimg1{
            width: 340px;
            height: 224px;
            float: right;
        }
        .fourthimg2{
            width: 340px;
            height: 224px;
            float: right;
        }
        .fifthpage{
            background-color: rgb(23, 23, 23);

            margin-top: -200px;
        }
        .fifthcontainer{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 10% 10% ;
            justify-content: space-around;
        
        }
        .container5{
        width: 27%;
        text-align: left;
        padding: 30px 20px 80px 20px;
        color: rgb(255, 255, 255);
        margin-bottom: 20px;
        }
        .sixthpage{
            background-color: rgb(23, 23, 23);
                width: 100%;
                float: right;
                display: flex;
                justify-content: space-around;
                margin-top: -180px;
                padding-bottom: 200px;
             

                
        }
        
        .line1{
            width: 3%;
            margin-right: 85%;
            border-color: #e9204f;
            text-align: left;
            float: right;
            margin-top: 50px;
            margin-bottom: 50px;

        }
        .sixtitle h1{
            color: rgb(255, 255, 255);
            font-size: 50;
            width: 50%;
            margin-left: 12%;
        }
        .sixtitle h2{
            width: 35%;
            margin-right: 40px;
            color: rgb(255, 255, 255);
            padding-bottom: 5%;
            margin-left: 12%;
    
        }
    
        .sixtitle h3{
            color: #e9204f;
            font-size: 15;
            width: 50%;
            margin-left: 12%;
            padding-bottom: 5%;}
            .seventhpage{
                background-color: rgb(23, 23, 23);
               
                display: flex;
            align-items: center;
            margin: 200px 200px ;
            justify-content: space-around;
            
            
            }
            .seventhtitle{
                background-color:rgb(23, 23, 23) ;
                padding: 100px;
                color: rgb(255, 255, 255);
            font-size: 50;
            text-align: center;
            margin-top: -250px;
            }
            .eighttitle{
                background-color:rgb(23, 23, 23) ;
                padding: 100px 0;
              
            }
            .eighttitle i{
                color: aliceblue;
                float: left;
                font-size: x-large;
                border-color: #e9204f;
                border-radius: 50px;
                margin: 10px;
                
                
            }
            .eighttitle h1{
                font-size: 50;
                color: aliceblue;
                text-align: center;
            }
            .eighttitle input{
                text-decoration: none;
                background-color: black;
                border-color: #e9204f;
                padding: 15 40;
                color: rgb(255, 255, 255);
                font-size: medium;
                float: right;
                margin-right: 200px;
            }
            .lastsection{
                background-color:rgb(23, 23, 23) ;
                padding: 50px 0;
            }
            .lastpage{
                color: aliceblue;
                display: flex;
    justify-content: space-between;
margin: 0 25%;} 

    
            .lasttitle{
color: aliceblue;
padding-right: 50px;
            }
            .lastmenu{
                padding: 50px 100px;
                display: flex;
    justify-content: space-between;
            }
            .lastpage1:hover{
                color: #e9204f;
                
            }

            .lastpage2:hover{
                color: #e9204f;
                
            }
.eighticon{
    position: relative;
    z-index: 1;
}

                
.eighticon:hover{

    color: #e9204f;
    transition: 0.7s;

}


    